{% extends 'base.html' %}
{% block content %}

<h3>Title: {{ course.title }}</h3>
<p>{{course.duration_months}} oy * {{course.is_active}}</p>
<p>{{course.description}}</p>


{% for g in course.groups.all %}
<p>{{ g.name }}</p><hr>
{% endfor %}

<hr><hr>

{% for m in course.modules.all %}
<b>{{ m.title }}</b><hr>
{% for l in m.lessons.all %}
<p>     {{ l.title }}</p><hr>
{% endfor %}
<pre><a href="{% url 'create_lesson' m.pk %}">Dars qo'shish</a></pre><hr><hr>
{% endfor %}
<pre><a href="{% url 'create_module' course.pk %}">Modul qo'shish</a></pre>
{% endblock %}