{% extends 'base.html' %}
{% block content %}

<h1>Profile</h1>
<pre>
    Username: {{profile.user.username}}
    First name: {{profile.user.first_name}}
    Last name: {{profile.user.last_name_name}}
    Email address: {{profile.user.email}}
    Phone number: {{profile.user.phone}}
    Birth date: {{profile.birth_date}}
    Parent phone number: {{profile.parent_phone}}
    Coin balans: {{profile.coin_transactions.amount}}
</pre>

<a href="{% url 'edit_student_profile' %}">Edit Profile</a>

{% endblock %}